<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">
        <img src="../assets/family-planning-32.png" alt="" width="40" height="34">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/menu" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/menu">Health</a></li>
              <li><a class="dropdown-item" href="/menu">Family</a></li>
              <li><a class="dropdown-item" href="/menu">Shopping</a></li>
              <li><a class="dropdown-item" href="/menu">Events</a></li>
              <li><a class="dropdown-item" href="/menu">Folder</a></li>
            </ul>
          </li>
        </ul>
        
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <form class="d-flex">
              <input class="form-control me-2" (input)="onInput($event)" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-light button-search" type="submit"><img class="search" src="../../assets/icons8-search-50.png" alt="Search"></button>
            </form>
          </li>
          <li *ngIf="!isAuthenticated()" class="nav-item">
            <a routerLink="/signup" class="nav-link" href="#">Sign up</a>
          </li>
          <li *ngIf="!isAuthenticated()" class="nav-item">
            <a routerLink="/login" class="nav-link" href="#">Login</a>
          </li>
          <li *ngIf="isAuthenticated()" class="nav-item">
            <a class="nav-link" (click)="onShowProfil()" href="javascript:void(0);">Welcome {{userName}}</a>
          </li>
          <li *ngIf="isAuthenticated()" class="nav-item">
            <a (click)="logout()" routerLink="/login" class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>