<div *ngIf="!onWindowSpinner()" class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/login.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->

    <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="username" formControlName="username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" formControlName="password">
      <button type="submit" class="fadeIn fourth" >Log In</button>
    </form>
    <!-- Show Error Message -->
    <div *ngIf="errorMessage">
      <p class="error">Invalid username and password Please try again</p>
    </div>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a><br><br>
      <a routerLink="/signup" class="underlineHover" href="#">New account?</a>
      <p> {{infoMessage}}</p>
    </div>

  </div>
</div>

<!-- Spinner -->
<div *ngIf="onWindowSpinner()" class="container spinner" >
  <div class="spinner-border text-info" role="status" style="width: 100px;height: 100px;">
    <span class="sr-only"></span>
  </div>
</div>