<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <a routerLink="/home">
                <div class="p-3 health box">
                    <img src="../../assets/hearth.png" class="img-fluid image" alt="Health" />
                    <h2 class="text">
                        Health: <br>
                        Track your health indicators daily and stay in a good health.
                    </h2>
                    
                </div>
            </a>
        </div>
        <div class="col-6">
            <a routerLink="/home">
                <div class="p-3 family box">
                    <img src="../../assets/family.png" class="img-fluid image" alt="Family" />
                    <h2 class="text">
                        Family: <br>
                        All what you want to know about family.
                    </h2>
                    
                </div>
            </a>
        </div>
        <div class="col-6">
            <a routerLink="/home">
                <div class="p-3 shopping box">
                    <img src="../../assets/shopping.png" class="img-fluid image" alt="Shopping" />
                    <h2 class="text">
                        Shopping: <br>
                        Make your shopping list with easiest way.
                    </h2>
                    
                </div>
            </a>
        </div>
        <div class="col-6">
            <a routerLink="/home">
                <div class="p-3 events box">
                    <img src="../../assets/events.png" class="img-fluid image" alt="Events" />
                    <h2 class="text">
                        Events: <br>
                        Orgnize whatever you want whenever you want.
                    </h2>
                    
                </div>
            </a>
        </div>
        <div class="col-6 last">
            <a routerLink="/home">
                <div class="p-3 folder box">
                    <img src="../../assets/folder.png" class="img-fluid image" alt="Folder" />
                    <h2 class="text">
                        Folders: <br>
                        Save adn find your documents, Photos and other things.
                    </h2>
                    
                </div>
            </a>
        </div>
    </div>
</div>