<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/login.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="signupProcess()">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username" formControlName="username">
        <input type="text" id="lastname" class="fadeIn second" name="lastname" placeholder="Lastname" formControlName="lastname">
        <!-- (keypress)="onKeypressEvent($event)" -->
        <input type="email" id="email"  class="fadeIn second" name="email" placeholder="Email" formControlName="email">
        <div *ngIf="formGroup.get('email').status === 'PENDING'">
          <p style="color: orange;">Checking...</p>
        </div>
        <div *ngIf="formGroup.get('email').status === 'VALID'">
          <p style="color: green;">Email is available!</p>
        </div>
        <div *ngIf="formGroup.get('email').errors && formGroup.get('email').errors.emailTaken">
          <p style="color: red;">this email is already taken!</p>
        </div>
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" formControlName="password">
        <input type="password" id="confirmPassword" class="fadeIn third" name="confirmPassword" placeholder="Confirme password" formControlName="confirmPassword">
        <button type="submit" class="fadeIn fourth" >Sign up</button>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a routerLink="/login" class="underlineHover" href="#">Login?</a>
        <p>{{infoMessage}}</p>
      </div>
  
    </div>
  </div>