<div class="container">
    <div class="description">
        <figure class="text-center">
            <blockquote class="blockquote">
            <h1>Our solution is made for families to make their life better</h1>
            </blockquote>
            <figcaption class="blockquote-footer">
            Made by <cite title="Source Title">ATA Prod</cite>
            </figcaption>
        </figure>
    </div>
</div>

<img src="../assets/family-planning-512.png" class="rounded mx-auto d-block" alt="" >